* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */

    scrollbar-width: none; /* hide scrollbar */
    -ms-overflow-style: none; /* hide scrollbar */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: black;
    /* align-items: center;
    justify-content: center; */
}

h1 {
    text-align: center;
    font-family: "Sixtyfour Convergence";
    font-size: 40px;
    margin-bottom: 0px;
}

h2, h3 {
    margin: 0px;
    font-family: Caveat;
    text-align: center;
    color: white;
}

h4 {
    font-family: Caveat;
    font-size: 20px;
    color: white;
    margin: 5px;
}

p {
    color: white;
    text-align: center;
    /* font-size: 14px; */
    margin: 0px;
}

li {
    list-style: none;
    color: white;
}

li a {
    color: white;
    display: inline-block;
}

li a:hover{
    text-decoration: none;
}

.nav {
    /* background: gray; */
    padding-right: 40px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.talents{
    text-align: center;
    padding-left: 40px;
}

.credits {
    display: inline-block;
    vertical-align: top;
    /* margin: 10px; */
    padding: 10px;
    width: 150px;
    justify-content: space-evenly;
    text-align: center;
    /* background-color: gray; */
}

.credits-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
}

.container {
    display: flex;
    /* background-color: white; */
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
    overflow-y: hidden;
    /* white-space: nowrap; */
    /* scrollbar-width: none; /* hide scrollbar */
    /*-ms-overflow-style: none; hide scrollbar */
}

.project-info{
    display: inline-block;
    vertical-align: top;
    
    margin: 10px;
    padding: 20px;
    height: 4o0px;
    width: 400x;

    /* background-color: orange; */
    background-color: rgb(15, 15, 15);
    transition: box-shadow 0.15s;
}

.project-info:hover{
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.project-thumbnail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 283px;
}

.project-title{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.project-description{
    color: gray;
    text-align: center;
    width: 305px;
    height: 100px;
    /* font-size: 14px; */
}

/* .submit-form{
    height: 100vh;
} */

.submit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* padding-left: 75px;
    padding-right: 75px; */
}

.submit-input{
    width: 400px;
    height: 25px;
    border: none;
    outline: none;
    padding-left: 15px;
}

.submit-container button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.submit-container textarea{
    height: 140px;
    padding-top: 15px;
    padding-left: 15px;
    font-family: Arial;
}

.octavio{
    color:rgb(28, 68, 154);
}

.ruze{
    color: rgb(230,0,18);
}

.jurard{
    color: rgb(56,54,53);
}

.goldbullet{
    color: rgb(10,100,99);
}

.default {
    color: white;
}